* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: clamp(16px, 1vw + 1px, 20px);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
h1 {
  font-size: 2.5rem;
  position: relative;
  margin-top: 2rem;
}
h2 {
  display: inline;
  margin: 0;
}
main {
  flex: 1;
}
details p {
  margin: 0;
}
.title {
  font-style: italic;
}
.title::after {
  content: ", ";
}
.author {
  color: #60a0c0;
}
.author::before {
  content: "by ";
}
.book {
  padding: 1.5em;
  background-color: #ebedf0;
}
.pages::after {
  content: " pages";
}
.status {
  margin-bottom: 1rem;
}
.status::before {
  content: "Status: ";
}
h1,
body > header > p,
footer {
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  .book {
    background-color: #1f2937;
  }
}
.fa-github {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 2rem;
  text-decoration: none;
}
.fa-xmark {
  position: relative;
  left: 19rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.secondary {
  padding: 4px 10px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.flex > button {
  height: 2.5rem;
  padding-block: 0;
}
noscript {
  display: block;
  text-align: center;
  font-size: 2rem;
}
noscript:before {
  content: "⚠︎";
}
.fa-toggle-on,
.fa-toggle-off {
  font-size: 1.4rem;
}
.fa-trash-can:hover {
  color: lightcoral;
}
